*{
    padding: 0;
    margin: 0;
}
.hero_img{
    position:relative;

 
}
.hero_img::before { 
    content:"";
    position:absolute;
    bottom: 0px;
    width: 34%;
    height: 300px;
    background-image:linear-gradient(to bottom,
    black
    rgb(247, 246, 246));}